<div data-section-id="{{ section.id }}"  data-section-type="support-block-type-6" class="support-block-type-6">  

  <div class="grid-uniform">
   
      <div class="support-blk-section support-block-wrapper" style="{% if section.settings.background_color_wrapper != blank %}  background-image:url({{ section.settings.background_color_wrapper | img_url: '1920X'  }}){% endif %}">
        
           {% if section.settings.title != blank %}
    <div class="border-title wow fadeInDown animated">
      {% if section.settings.title != blank %}
      <h3 class="service-title" style="color:{{ section.settings.title_color }};">    
        {{ section.settings.title }}
      </h3>
      {% endif %} 
            {% if section.settings.description != blank %} <p style="color:{{ section.settings.desc_color }}" >{{ section.settings.description }}</p>{% endif %}  

    </div>
    {% endif %}
        
        
        <ul class="support_block" style="{% if section.settings.background_color != blank %} background-color:{{section.settings.background_color}}{% endif %}"> 
          <div class="container">
          {% if section.blocks.size > 0 %}      
          {% for block in section.blocks %}
          {% case section.blocks.size %}
          {% when 1 %}
          {%- assign block_width = 'one-whole text-center' -%}
          {% when 2 %}
          {%- assign block_width = 'wide--one-half post-large--one-half large--one-half medium--one-half small-grid__item' -%}
          {% when 3 %}
          {%- assign block_width = 'wide--one-third post-large--one-third large--one-third medium--one-half small-grid__item' -%}
          {% when 4 %}
          {%- assign block_width = 'wide--one-quarter post-large--one-quarter large--one-half medium--one-half small-grid__item' -%}
          {% endcase %}
          <li class="grid__item {{ block_width }} wow fadeInUp"  data-wow-delay="{{ settings.time_lazy_load }}ms">

            <div class="support_section" >  
              <div class="support-wrapper-type" style="{% if section.settings.background_color_block != blank %} background-color:{{section.settings.background_color_block}}{% endif %}">

                {% if block.settings.title != blank  %}  
                <div class="support_icon" >    
                  
    	 <div class="icon" ><i class="fa {{ block.settings.class }}"></i></div>
                </div>
                {% endif %}   
                <div class="support_text"> 
                  {% if block.settings.title != blank  %}  
                  <h4 style="color:{{ block.settings.title_color }};">{{ block.settings.title }}</h4>
                  {% endif %} 
                  {% if block.settings.desc != blank  %}  
                  <p style="color:{{ block.settings.desc_color }};" class="desc">{{ block.settings.desc }}</p>
                  {% endif %}                       
                </div>   
              </div>

            </div>    
          </li>  
          {% endfor %}
          {% endif %}
          </div>
        </ul>
      </div>
    </div>

  <div class="dt-sc-hr-invisible-large"></div>


</div>



<style>
  .support-block-type-6 {
    float: none;
    clear: both;
  }

  .support-block-type-6 .support_section .support-wrapper-type:hover .support_text h4::after { background:{{section.settings.iconhovertext_color}}!important;} 

  .support-block-type-6 .support_section .support-wrapper-type .support_text h4::after { background: {{section.settings.border_color}}!important;}

  .support-block-type-6 .support_section .support-wrapper-type .support_icon{
   background: #fff;
    width: 140px;
    height: 140px;
    display: flex ;
    justify-content: center; 
    align-items: center;
    border-radius: 50%;
    border-style: solid;
    border-color: {{settings.color_primary_bg }};
    margin: 0 auto;
    margin-top: -130px; 
  }
.support-block-type-6 .border-title .service-title {
  margin-bottom:100px; 
}
  .support-block-type-6 .support_section .support-wrapper-type:hover{ }
  .support-block-type-6 .support-block-wrapper {background-position:center;background-repeat:no-repeat;background-size:cover }
  .support-block-type-6 .support_section .support-wrapper-type:hover h4{color:{{section.settings.iconhovertext_color}}!important;}

  .support-block-type-6 .support_section:hover .support_icon a {color:{{section.settings.iconhover_color}}!important;}
  
  .support-wrapper-type {
    display: block;
    padding: 60px 15px;
  
      border: 1px solid #fff;
    border-radius: 5px;
    margin-bottom:30px;
}
    .support-wrapper-type .icon{
  font-size:60px;
      color: {{settings.color_primary_bg }};
}

  
 .support-wrapper-type img{
         height: 64px;
    width: 64px;
       background: #f3f3f3;
    border-radius: 50%;
  } 
</style>



{% schema %}
{
"name": "Support Block",
"class": "index-section",
"max_blocks":12,
"settings": [
{
"type": "header",
"content": "General Color"
},
{
"type": "color",
"id": "iconhover_color",
"label": "Icon Hover Color",
"default":"#000"
},
{
"type": "color",
"id": "background_color",
"label": "Description color"
},
{
"type": "color",
"id": "background_color_block",
"label": "Block content color",
"default":"#fff"
},

{
"type": "image_picker",
"id": "bg_img",
"label": "Bg",
"info": "Size: 1920x1217"

},


{
"type": "image_picker",
"id": "background_color_wrapper",
"label": "Bg Wrapper",
"info": "Size: 1920x1217"

},

{
"type": "color",
"id": "iconhovertext_color",
"label": "Icon Hover Text Color",
"default":"#000"
},
{
"type": "textarea",
"id": "description",
"label": "Small Heading"
},
{
"type": "color",
"id": "desc_color",
"label": "Description color",
"default": "#000"
}, 

{
"type": "text",
"id": "title",
"label": "Heading",
"default": "New arrivals"
},	
{
"type": "color",
"id": "title_color",
"label": "Heading Color",
"default": "#000"
}

],
"blocks": [
{
"type": "text",
"name": "Support Block",
"settings": [ 


{
"type":"text",
"id":"class",
"label":"Icon",
"default":"fa-plus"
},

{
"type": "color",
"id": "class_color",
"label": "Icon color",
"default":"#000"
},

{
"type": "text",
"id": "title",
"label": "Heading",
"default":"Heading"
},
{
"type": "color",
"id": "title_color",
"label": "Color",
"default":"#000"
},
{
"type": "text",
"id": "desc",
"label": "Description",
"default":"Description"
},

{
"type": "color",
"id": "desc_color",
"label": "Color",
"default":"#000"
}     

]
}
],
"presets": [
{
"name": "Support Block Type 2",
"category": "Support",
"blocks": [
{
"type": "text"
},
{
"type": "text"
},
{
"type": "text"
},
{
"type": "text"
}


]
}
]
}
{% endschema %}
