<div data-section-id="{{ section.id }}"  data-section-type="support-block-type-6" class="support-block-type-6">  

  <div class="grid-uniform">
   	
      <div class="support-blk-section" style="padding: 60px 0;{% if section.settings.background_color_wrapper != blank %}  background-image:url({{ section.settings.background_color_wrapper | img_url: '1920X'  }}){% endif %}">
                  <div class="container">
           {% if section.settings.title != blank %}
    <div class="border-title wow fadeInDown animated {{ section.settings.title_position }}">
      {% if section.settings.title != blank %}
      <h3 class="service-title" style="color:{{ section.settings.title_color }};">    
        {{ section.settings.title }}
      </h3>
      {% endif %} 
            {% if section.settings.description != blank %} <p style="color:{{ section.settings.desc_color }}" >{{ section.settings.description }}</p>{% endif %}  

    </div>
    {% endif %}

        <ul class="support_block"> 
          {% if section.blocks.size > 0 %}      
          {% for block in section.blocks %}
          {% case section.blocks.size %}
          {% when 1 %}
          {%- assign block_width = 'one-whole text-center' -%}
          {% when 2 %}
          {%- assign block_width = 'wide--one-half post-large--one-half large--one-half medium--one-half small-grid__item' -%}
          {% when 3 %}
          {%- assign block_width = 'wide--one-third post-large--one-third large--one-third medium--one-half small-grid__item' -%}
          {% when 4 %}
          {%- assign block_width = 'wide--one-quarter post-large--one-quarter large--one-half medium--one-half small-grid__item' -%}
          {% endcase %}
          <li class="grid__item {{ block_width }} wow fadeInUp"  data-wow-delay="{{ settings.time_lazy_load }}ms">

            <div class="support_section service_support" >  
              <div class="support-wrapper-type">

                {% if block.settings.title != blank  %}  
                <div class="support_icon">              
                <i class="{{ block.settings.class }}" style="color:{{ block.settings.class_color }}"></i>
                </div>
                {% endif %}   
                <div class="support_text"> 
                  {% if block.settings.title != blank  %}  
                  <h4 style="color:{{ block.settings.title_color }};">{{ block.settings.title }}</h4>
                  {% endif %} 
                  {% if block.settings.desc != blank  %}  
                  <p style="color:{{ block.settings.desc_color }};" >{{ block.settings.desc }}</p>
                  {% endif %}                       
                </div>   
              </div>

            </div>    
          </li>  
          {% endfor %}
          {% endif %}
               {% if section.settings.link_text !=  blank %}
                      <div class="dt-sc-hr-invisible-s-small"></div>
             <div class="btn">              
               <a href="{{ section.settings.link }}" >{{ section.settings.link_text }}</a>
    
</div>
                  {% endif %}  
        </ul>
          </div>
        
      </div>
    </div>

  <div class="dt-sc-hr-invisible-s-medium"></div>


</div>


{% schema %}
{
"name": "Support Block",
"class": "index-section",
"max_blocks":12,
"settings": [
{
"type": "header",
"content": "General Color"
},
{
"type": "text",
"id": "title",
"label": "Heading",
"default": "Create Your Own"
},	
{
"type":"select",
"id":"title_position",
"label":"Heading position",
"default":"text-center",
"options":[
{"value":"text-left","label":"Text Left"},
{"value":"text-right","label":"Text Right"},
{"value":"text-center","label":"Text Center"}
]
},
{
"type": "color",
"id": "title_color",
"label": "Heading Color",
"default": "#000"
},
{
"type": "textarea",
"id": "description",
"label": "Description",
"default": "Lorem ipsum dolor sit amet consectetur adipiscing elit"
},
{
"type": "color",
"id": "desc_color",
"label": "Description color",
"default": "#696969"
},
{
"type": "image_picker",
"id": "background_color_wrapper",
"label": "Bg Wrapper",
"info": "Size: 1920x1217"
},
{
"type": "url",
"id": "link",
"label": "Link URL"
},
{
"type": "text",
"id": "link_text",
"label": "Link text",
"default":"Star Designing"
}
],
"blocks": [
{
"type": "text",
"name": "Support Block",
"settings": [ 
{
"type":"text",
"id":"class",
"label":"Icon"
},
{
"type": "color",
"id": "class_color",
"label": "Icon color",
"default":"#fff"
},
{
"type": "text",
"id": "title",
"label": "Heading",
"default":"Create your own"
},
{
"type": "color",
"id": "title_color",
"label": "Color",
"default":"#000"
},
{
"type": "text",
"id": "desc",
"label": "Description",
"default":"Description"
},

{
"type": "color",
"id": "desc_color",
"label": "Color",
"default":"#696969"
}     

]
}
],
"presets": [
{
"name": "Banner Create your Own",
"category": "Support",
"blocks": [
{
"type": "text",
"settings":{
 "class":"teepro-svg-icon-choose-location",
"title":"Heading",
"desc":"Lorem ipsum dolor sit amet consectetur adipiscing elit"
}
},
{
"type": "text",
"settings":{
 "class":"teepro-svg-icon-select-product",
"title":"Heading",
"desc":"Lorem ipsum dolor sit amet consectetur adipiscing elit"
}
},
{
"type": "text",
"settings":{
 "class":"teepro-svg-icon-add-design",
"title":"Heading",
"desc":"Lorem ipsum dolor sit amet consectetur adipiscing elit"
}
},
{
"type": "text",
"settings":{
 "class":"teepro-svg-icon-checkout",
"title":"Heading",
"desc":"Lorem ipsum dolor sit amet consectetur adipiscing elit"
}
}


]
}
]
}
{% endschema %}
