
{% if settings.collection_results_per_page != blank %}
  {% assign product_per_page = settings.collection_results_per_page %}
{% else %}
  {% assign product_per_page = 12 %}
{% endif %}



{% assign mid_width = "grid__item wide--seven-tenths post-large--seven-tenths large--seven-tenths" %}


<div class="container">
  <div class="collection-products">
	
 
    <div class="{{ mid_width }} ">      
      <div class="collection-list">
       
        
        <div class="grid-uniform grid-link__container col-main ">   
  
          {% paginate collection.products by product_per_page %}   
          {% include 'tool-grid' %}    
              <div class="refined-widgets">
           <ul class="sidebar-tag tags">
{% for tag in collections.all.tags %} 
   {% assign tag_value = tag | handleize %}    
  {% if current_tags contains tag %} 
   <li> 
              <input type="checkbox" value="{{ tag_value }}" checked/>
              <label class="{% if current_tags contains tag %}active{% endif %}">{{ tag | highlight_active_tag    }}</label>
            </li>
   {% endif %}
 
{% endfor %}
</ul>
      <a href="javascript:void(0)" class="clear-all" {% if has_refined == false %}style="display:none"{% endif %}>
        Clear All
      </a>
    </div>
          
          <div class="products-grid-view">
          {% if collection.products.size > 0 %}      
          <ul>
            {% case settings.collection_grid %}
            {% when '2' %}
            {%- assign grid_item_width = 'wide--one-half post-large--one-half large--one-half medium--one-half small-grid__item' -%}            
            {% when '3' %}
            {%- assign grid_item_width = 'wide--one-third post-large--one-third large--one-half medium--one-half small-grid__item' -%}              
            {% when '4' %}
            {%- assign grid_item_width = 'wide--one-quarter post-large--one-third large--one-half medium--one-half small-grid__item' -%}              
            {% when '5' %}
            {%- assign grid_item_width = 'wide--one-fifth post-large--one-quarter large--one-half medium--one-half small-grid__item' -%}              
            {% endcase %}
            {% for product in collection.products %}
            {% include 'product-grid-item' %}
            {% else %}
            {% if shop.products_count == 0 %}
            {% unless emptyState %}
            {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
            {% assign emptyState = true %}
            {% endunless %}

            <div class="grid__item">
              <div class="helper-section">
                <div class="helper-note">
                  <span class="helper-icon"></span>
                  <h3>{{ 'home_page.onboarding.modal_title' | t }}</h3>
                  <p>{{ 'home_page.onboarding.no_products_collection' | t }}</p>
                  <p><a class="admin-btn-primary" href="/admin/products/new">{{ 'home_page.onboarding.add_product' | t }}</a></p>
                </div>
              </div>
            </div>
            {% else %}
            <div class="grid__item">
              <p><em>{{ 'collections.general.no_matches' | t }}</em></p>
            </div>
            {% endif %}

            {% endfor %}
          </ul>
          {% else %}
          <div class="grid__item">
            <p><em>{{ 'home_page.onboarding.no_products_html' | t }}</em></p>
          </div>
          {% endif %}
          </div>
          {% if paginate.pages > 1 %}
          <div class="text-center padding">
            {% include 'pagination-custom' %}
          </div>
          {% endif %}
          {% endpaginate %}  
        </div>
      </div>
    </div>
      
    <div class="grid__item wide--three-tenths post-large--three-tenths large--three-tenths  right-sidebar">
      {% include 'collection-sidebar' %}
    </div>
  
    
</div>
</div> 
 {% section 'collection-banner' %}

   